@use 'svelterial/settings/transitions' as t;
@use 'svelterial/settings/shadows?self' as s;

$borderRadius: 4px !default;
$elevation: 4 !default;
$app-bar-scrolled-title-padding-bottom: 9px !default;

@import 'svelterial/AppBar';

.s-app-bar {
  background-color: var(--s-body-elevated);
  contain: layout;
  display: block;
  flex: 1 1 auto;
  max-width: 100%;
  position: relative;
  z-index: 5;
  transition: 250ms t.$primary;

  .s-app-bar__wrapper {
    height: 56px;
    align-items: center;
    display: flex;
    padding: 4px;

    .s-btn.fab {
      width: 48px;
      height: 48px;
    }
  }

  .s-app-bar__title {
    padding-left: 16px;
    font-size: 1.25rem;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:not(.tile) {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  &:not(.flat) {
    box-shadow: map-get(s.$default, 's#{$elevation}');
  }

  &.dense {
    .s-app-bar__wrapper {
      height: 48px;
      padding: 0;
    }
  }

  &.prominent {
    .s-app-bar__wrapper {
      height: 128px;
      align-items: flex-start;
    }

    .s-app-bar__title {
      align-self: flex-end;
      padding-bottom: 6px;
      padding-top: 0;
    }
  }

  &.fixed {
    position: fixed;
    top: 0;
  }

  &.absolute {
    position: absolute;
    top: 0;
  }

  &.hidden {
    transform: translate(-100%);
  }

  &.collapsed {
    border-bottom-right-radius: 24px;
    max-width: 112px;
    overflow: hidden;
  }
}
