@use '../../core/utils/settings';

.s-checkbox {
  display: flex;
  align-items: center;

  > label {
    padding-left: 12px;
  }
}

.s-checkbox__wrapper {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: visible;

  &::before {
    content: '';
    background-color: black;
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 100%;
    transform: scale(2);
    transform-origin: center center;
    pointer-events: none;
  }

  &:hover::before {
    opacity: 0.12;
  }
}

.s-checkbox__box {
  color: #666666;
  border: 2px solid currentColor;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transition: background-color 250ms map-get(settings.$transitions, 'primary');

  > svg {
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    color: #ffffff;
    fill: currentColor;
  }
}

.s-checkbox__icon {
  stroke: currentColor;
}

.s-checkbox__input {
  margin: 0;
  padding: 0;
  transform: scale(1.5);
  width: 16px;
  height: 16px;
  opacity: 0;
  cursor: pointer;

  &:where(:checked, :indeterminate) {
    & + .s-checkbox__box {
      color: var(--s-primary-base);
      background-color: currentColor;
    }
  }

  &:checked + .s-checkbox__box .s-checkbox__icon {
    d: path('M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z');
  }

  &:indeterminate + .s-checkbox__box .s-checkbox__icon {
    d: path('M5,11L5,13L19,13L19,11L5,11Z');
  }
}
