@use '../../core/utils/settings';

.s-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--s-minSize), 1fr));

  & > div {
    grid-column-end: span var(--colspan, 1);
    grid-row-end: span var(--rowspan, 1);
    @media only screen and (max-width: map-get(settings.$breakpoints, 'md')) {
      grid-column-end: span 1;
    }
  }
}
