.s-tab {
  font-size: 0.875rem;
  line-height: 2.25rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: relative;
  opacity: 0.75;

  &::before {
    background-color: currentColor;
    border-radius: inherit;
    color: inherit;
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.6, 1);
  }

  &:where(:hover, :focus) {
    &::before {
      opacity: 0.12;
    }
  }
}

.s-tab--active {
  opacity: 1;
  color: var(--s-primary-base);
}
