.s-badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #ffffff;
  background-color: var(--s-secondary-base);
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 0.5rem;
}

.s-badge--rounded {
  border-radius: 100%;
}

.s-badge--notification {
  position: absolute;
  font-size: 0.6rem;
  margin-top: -0.1rem;
  margin-left: -0.25rem;
  padding: 0.2em 0.45em;
}
