@use 'svelterial/settings/transitions' as t;
@use 'svelterial/settings/shadows?self' as s;

$height: 56px !default;
$denseHeight: 48px !default;
$prominentHeight: 128px !default;
$borderRadius: 4px !default;
$elevation: 4 !default;

@import 'svelterial/AppBar';

.s-appbar {
  background-color: var(--s-body-elevated);
  contain: layout;
  display: block;
  flex: 1 1 auto;
  max-width: 100%;
  position: relative;
  z-index: 10;
  transition: 250ms t.$primary;

  &:not(.s-appbar--flat) {
    box-shadow: map-get(s.$default, 's#{$elevation}');
  }
}

.s-appbar--absolute {
  position: absolute;
  top: 0;
}

.s-appbar--fixed {
  position: fixed;
  top: 0;
}

.s-appbar__wrapper {
  height: $height;
  align-items: center;
  display: flex;
  padding: 4px;
}

.s-appbar__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.s-appbar--rounded {
  border-radius: $borderRadius;
}

.s-appbar--dense > .s-appbar__wrapper {
  height: $denseHeight;
  padding: 0;
}

.s-appbar--prominent {
  & > .s-appbar__wrapper {
    height: $prominentHeight;
    align-items: flex-start;
  }

  .s-appbar__title {
    align-self: flex-end;
    padding-bottom: 6px;
    padding-top: 0;
  }
}

.s-appbar--fluid > .s-appbar__wrapper {
  height: 100%;
  width: 100%;
}

.s-appbar--collapsed {
  border-bottom-right-radius: 24px;
  max-width: 112px;
  overflow: hidden;
}
