$flex: 0 1 auto !default;
$padding: 18px 12px !default;
$evenChildPadding: 0 12px !default;
$itemFontSize: 14px !default;
$itemLargeFontSize: 16px !default;
$margin: 0 !default;
$padding: 0 14px !default;

.s-breadcrumbs {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex: $flex;
  list-style-type: none;
  margin: $margin;
  padding: $padding;
}

.s-breadcrumbs__divider {
  color: var(--s-text-disabled);
  padding: $evenChildPadding;
}

.s-breadcrumbs__item {
  align-items: center;
  display: inline-flex;
  font-size: $itemFontSize;

  .s-icon {
    font-size: $itemLargeFontSize;
  }
}

.s-breadcrumbs--large .s-breadcrumbs__item {
  font-size: $itemLargeFontSize;
}

.s-breadcrumbs__content {
  align-items: center;
  display: inline-flex;
  text-decoration: none;

  &.is-disabled {
    color: var(--theme-text-disabled);
    pointer-events: none;
  }
}
