@use '../../core/utils/settings';

.s-drawer {
  background-color: var(--s-body-dimmed);
  contain: layout;
  overflow-x: hidden;
  overflow-y: auto;
  flex-shrink: 0;
  width: var(--drawer-width);
  height: var(--drawer-height);
  max-height: 100vh;
  pointer-events: auto;
  transition: 300ms map-get(settings.$transitions, 'primary');
  z-index: 5;
}

.s-drawer--absolute,
.s-drawer--fixed {
  &.s-drawer--left {
    left: 0;
  }

  &.s-drawer--right {
    right: 0;
  }
}

.s-drawer--absolute {
  position: absolute;
}

.s-drawer--fixed {
  position: fixed;
}

.s-drawer--left:not(.s-drawer--active) {
  // transform: translateX(-100%);
  margin-left: calc(-1 * var(--drawer-width));
}

.s-drawer--right:not(.s-drawer--active) {
  // transform: translateX(100%);
  margin-right: calc(-1 * var(--drawer-width));
}

.s-drawer--border {
  &.s-drawer--left {
    border-right: thin solid;
  }

  &.s-drawer--right {
    border-left: thin solid;
  }
}

.s-drawer--active {
  // transform: translateX(0);
  margin-left: 0;
  margin-right: 0;
}

.s-drawer--mini {
  width: 48px;
}
