@use '../../core/utils/settings';

$fontSize: 12px;
$padding: 0.25rem 0.5rem;
$borderRadius: 4px;
$elevation: 3;

.s-tooltip__container {
  display: contents;
}

.s-tooltip {
  background-color: #6d6d6d;
  color: #ffffff;
  font-size: $fontSize;
  padding: $padding;
  border-radius: $borderRadius;
  @include settings.elevation($elevation);

  clip-path: circle(0%);
  opacity: 0;
  transition: 200ms map-get(settings.$transitions, 'primary');
  transition-property: opacity, clip-path;
  transition-delay: 0s;
}

.s-tooltip--visible {
  clip-path: circle(100%);
  opacity: 1;
  transition-delay: var(--tooltip-delay, 0s);
}
